
.lai{
    display: flex;
    flex-direction: column;
}   
#menu ul
{
  margin-top:  42px;
}
#menu ul li
{
  list-style-type: none;
  display: inline;
}
.nav .nav-link{
text-decoration: none;
color: black;
}
    
.col-xl-2{
    border: none;
}
p{
    text-align: center;
}
body{
    background-color: gray;
}
.row{
  display: flex;
}